@import "forms.css";

article a {
    color: var(--primary-red);
    text-decoration: var(--primary-red) underline;
}

a[aria-current="page"] {
    color: var(--primary-color);
}

.technologies-icons {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: auto;
    width: 100%;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.technologies-icons img {
    height: 37px;
}

.photography-container .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    gap: 10px;
    max-height: fit-content;
}

.photography-container .gallery img {
    object-fit: cover;
    object-position: center;
    border-radius: 17px;
    height: 100%;
}

.photography-container .gallery img:nth-child(7) {
    grid-column: 1/3;
    height: 100%;
    width: 100%;
}

.additional-contact {
    display: grid;
    gap: 10px;
}

.contact-element {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0 5px;
    grid-template-areas:
        "icon header"
        "icon description"
        "icon contact";
}

.contact-element__icon {
    grid-area: icon;
    justify-self: center;
    height: 32px;
}

.contact-element__icon img {
    height: 100%;
}

.contact-element__header {
    grid-area: header;
    color: #fff;
    font-size: 16px;
}

.contact-element__description {
    grid-area: description;
}

.contact-element__contact {
    grid-area: contact;
}

.contact-element__contact, .contact-element__description {
    font-size: 14px;
    font-weight: 400;
}

.projects-container {
}

.project {
}

.project .name {
}

.project .description {
}

.project .tags {
}
