article a {
    color: var(--primary-red);
    text-decoration: var(--primary-red) underline;
}

a[aria-current="page"] {
    color: var(--primary-color);
}

.technologies-icons {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: auto;
    width: 100%;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

.technologies-icons img {
    height: 37px;
}

.photography-container {
}

.photography-container .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    gap: 10px;
    max-height: fit-content;
}

.photography-container .gallery img {
    object-fit: cover;
    object-position: center;
    border-radius: 17px;
    height: 100%;
}

.photography-container .gallery img:nth-child(7) {
    grid-column: 1/3;
    height: 100%;
    width: 100%;
}
