@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #0C0D11;
    --base-text-color: #C3C3C3;
    --white: #FFFFFF;
    --primary-color: #7EBAB5;
    --primary-darker-orange: #DC5854;
    --primary-red: #FF6465;
    --primary-darker-red: #F05071;
    --primary-violet: #8B97E5;
    --primary-green: #9FDBAD;
    --primary-lighter-green: #9FDBAD;
    --primary-blue: #33AADD;
    --primary-lighter-blue: #7ACAF7;
    --primary-darker-blue: #3178C6;
    --primary-yellow: #FFEC50;
    --primary-skin: #FDCA89;
    --primary-darker-yellow: #F1B559;

    --base-font: 'Roboto Mono', monospace;
    --base-font-weight: 500;
    --second-font: 'Inter', sans-serif;
    --second-font-weight: 400;

    --font-size: clamp(1rem, 5vw, 1.5rem);
    --heading-letter-spacing: 9%;
    --desktop-letter-spacing: -2%;
    --mobile-letter-spacing: -2%;

    --h1-font-size: clamp(2rem, 8vw, 64px);

    --heading-font-weight: 700;
}