:root {
    --background-color: #0C0D11;
    --primary-color: #7EBAB5;
    --primary-darker-orange: #DC5854;
    --primary-red: #FF6465;
    --primary-darker-red: #F05071;
    --primary-violet: #8B97E5;
    --primary-green: #9FDBAD;
    --primary-lighter-green: #9FDBAD;
    --primary-blue: #33AADD;
    --primary-lighter-blue: #7ACAF6;
    --primary-darker-blue: #3178C6;
    --primary-yellow: #FFEC50;
    --primary-skin: #FDCA89;
    --primary-darker-yellow: #F1B559;
}